.menu {
  &__item {
  }

  &__photo {
    // display: block;
    width: 15rem;
    height: 10rem;
    object-fit: cover;
    border: 0.25rem solid #c59d5f;
    border-radius: 5px;
  }

  &__info {
  }

  &__price {
  }

  &__desc {
  }
}
